<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class="wraper">
        <section class="wraper__title-text">
            <h1>Wyszukiwarka ras psów</h1>
            <h2>Sprawdź jaka rasa będzie dla Ciebie odpowiednia!</h2>
            <form class="form">
                <input class="form__ipt" type="text" placeholder="Wpisz rasę psa">
                <input class="form__btn" type="submit" value="Szukaj">
            </form>
        </section>
        <section class="wraper__open-breeds">
            <div class="spoiler open">
                <div class="open__text-info">
                    <h1>Wybierz lub wpisz rasę psa</h1>
                    <span>Na dole znajduje się lista, z której wybierzesz rase</span>
                </div>
                <div class="open__conteiner-img">
                    <img src="" alt="image_random">
                </div>
            </div>
        </section>
        <section class="wraper__list-breeds">
            <div class="list-breeds">
            </div>
        </section>
    </div>
</body>
</html>